{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 160
      }
    }
  ]
}
